body
{
    overflow-x: hidden;
}
.appearing,#addProductBtnAppear
{
    position: fixed;
    background-color: rgba(0, 128, 128);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    display: none;
    justify-content: center;
    align-items: center;
}
#close
{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 3rem;
    cursor: pointer;
}
#close:hover
{
    color:rgba(47, 47, 47, 0.682)
}
#searchbtn
{
    display: none;
}

